h1, h2 {font-family: 'Montserrat', sans-serif;}
header h1 {color:#5F9632; padding-bottom: 0px; margin-bottom: 0px;}
header h2 {color: #0077AF; padding-top:0px; margin-top:0px;}
header img {float: right; max-width: 200px;}
header {  border-bottom: 5px solid;
    border-image: linear-gradient(45deg,#5F9632, #0077AF) 1;
margin-bottom: 3em;
}

main.h2 {
	color: #0077AF;
	border-bottom: .2px solid #0077AF;
}
footer {  border-top: 5px solid;
    border-image: linear-gradient(45deg,#0077AF, #5F9632) 1;
margin-top: 5em;
}

.subfooter {font-size:small; padding: 10px 0; border-top: #333 1px solid;}

footer h3 {border-bottom: 1px solid #333;}


.boxer {border: 5px solid;
    border-image: linear-gradient(45deg,#5F9632, #0077AF) 1;
margin-bottom: 3em;}

.row-striped:nth-of-type(odd){
    background-color: #EDF3F8;
    border-left: 4px #0077AF solid;
  }
  
  .row-striped:nth-of-type(even){
    background-color: #ffffff;
    border-left: 4px #5F9632 solid;
  }
  
  .row-striped {
      padding: 15px 15px;
      margin-bottom: 15px;
  }

  .navbar-toggler {background-color:#ccc}
 
  hr {
    display: block;
    margin: 50px 0 -15px;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.35);
  }
  hr + h2 {
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #0077AF;
    transform: translateX(-50%);
    color: #5F9632;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.32em;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
  }
  hr + h2::first-letter {
    margin-left: 0.32em;
  }
  
  /* Alternative transform: translate */
  hr + h2 {
    border-width: 1px 0;
  }
  hr + h2::before, hr + h2::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #0077AF;
    content: "";
  }
  hr + h2::before {
    left: 0;
  }
  hr + h2::after {
    right: 0;
  }
  
  /**/
  * {
    box-sizing: border-box;
  }

  .nav-link {color:#0077AF; }

  .blue {color: #0077AF;}

  /* the details stuff for the cool little dropdown */
  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
  font-size: large;
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    color: #0077AF;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; transform: translateX(-10px)}
  100%  {opacity: 1; transform: translateX(0)}
}

summary {padding:1em;}
.lil_summary {font-size: small; border-right:#5F9632 1px solid; padding-right: .5em;}

@media (min-width: 992px) { 
  .mobi50 {max-width: 50%; float:right;}
}
