---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
title: Certificate Registry
---

{% block content %}

<div class="container mx-auto px-4">
    <h1>Certificate Registry</h1>
<table class="table DataTable table-striped display compact" id="mainecertsdb">
<thead>
    <tr>
      <th>Last</th>
      <th>First</th>
      <th>Certification Type</th>
      <th>Date of Certification</th>
    </tr>
    </thead>
      <tbody>
      {% include "partials/certList.html" %}
     </tbody>
    </table>
    </div>

{% endblock %}
