---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="row">
  <div class="col-sm-4">
    <div class="card boxer ">
    
      <div class="card-body ">
        <h2>Training Calendar</h2>
        <p>Check out our <a href="/trainings/">Training Calendar</a> for upcoming events!</p>
       
      </div>
    </div>
    <div class="card boxer ">
    
    <div class="card-body ">
      <h2>News</h2>
      {%- for news in collections.news -%}
      
          <h3 class="h5">{{ news.data.title }} </h3>
          
          {{ news.templateContent | safe }}
  <hr>
          {%- endfor -%}
     
    </div>
  </div>
  <div class="card" style="">
      <div class="row p-1">
          <div class="col-sm-4  d-flex align-items-center justify-content-center">
            <i class="fa fa-envelope fa-3x social mwt-blue " data-original-title="Contact"  data-toggle="tooltip" id="social-em">&nbsp;</i>
       
          </div>
          <div class="col-sm-8 pt-3"><h5 class="card-title">Newsletter</h5></div>
              <div class="card-body">
                  
                  <p class="card-text">To learn about upcoming trainings and other events sign up for our <a href="https://lp.constantcontactpages.com/su/qwUwBBs/mainetraining" target="_blank">E-Newsletter</a>!</p>
              </div>
          </div>
  </div>
 </div>
  <div class="col-sm-8"><p class="lead">
   
The Institute for Community Inclusion at the University of Massachusetts Boston (ICI) coordinates the implementation of Maine's Employment Services Workforce Development System (EWDS).  The ICI will work with the Center for Community Inclusion and Disability Studies (CCIDS) at the University of Maine to support efforts to develop a strong employment workforce in the state of Maine. To learn more about this project, visit our <a href="about/">About page</a>.</p>
  
    <div class="card p-3">
      <h3>Maine Working Together: Three Video Introductions to Employment First</h3>
<script src="https://fast.wistia.com/assets/external/channel.js" async></script><link rel="stylesheet" href="https://fast.wistia.com/embed/channel/project/plr5arwnge/font.css" /><div class="wistia_channel wistia_async_plr5arwnge mode=inline" style="position:relative;"></div>
    </div>
    <div class="card p-3">
      <h4>Are you interested in supporting individuals with disabilities to reach their employment goals?</h4>
        <p><a href="https://caringforme.org/real-stories/#real-stories-search-form"> Watch these videos</a> to learn about various jobs in the field of employment services (select “direct support professional” in the search option).</p>
 
    </div>
    
  

     
</div>
</div>
</div>
