---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="row">
  <div class="col-sm-4"><div class="card boxer ">
    
    <div class="card-body ">
      <h2>News</h2>
      {%- for news in collections.news -%}
      
          <h3 class="h5">{{ news.data.title }} </h3>
          
          {{ news.templateContent | safe }}
  <hr>
          {%- endfor -%}
     
    </div>
  </div>
  <div class="card" style="">
      <div class="row p-3">
          <div class="col-sm-5  d-flex align-items-center justify-content-center">
            <i class="fa fa-envelope fa-5x social mwt-blue " data-original-title="Contact"  data-toggle="tooltip" id="social-em">&nbsp;</i>
       
          </div>
          <div class="col-sm-7 pt-4"><h5 class="card-title">Newsletter</h5></div>
              <div class="card-body">
                  
                  <p class="card-text"><p>To learn about upcoming trainings and other events sign up for our <a href="https://lp.constantcontactpages.com/su/qwUwBBs/mainetraining" target="_blank">E-Newsletter</a>!</p></p>
              </div>
          </div>
  </div>
 </div>
  <div class="col-sm-8"><div class="lead">
    <p>
    The Institute for Community Inclusion at the University of Massachusetts Boston (ICI)</a> coordinates the implementation of Maine's Employment Services Workforce Development System (EWDS).</p>
     
    <p>The ICI will work with the Center for Community Inclusion and Disability Studies (CCIDS) at the University of Maine to support efforts to develop a strong employment workforce in the state of Maine. The Maine Working Together project will provide training, resources, and assistance to Maine employment services providers, individuals with disabilities, family members, and other collaborating team members to ensure that individualized community employment is available to everyone.</p>
    <div class="grid-30">
    <div class="card p-3">
      <script src="https://fast.wistia.com/embed/medias/t990iv8pla.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_t990iv8pla popover=true videoFoam=true" style="display:inline-block;height:100%;position:relative;width:100%">&nbsp;</span></div></div>
                  <h5 class="card-title">Employment First Maine Part 1</h5>
                  <p class="card-text">Learn about Employment First, and why it is important to Maine</p>
    </div>
    <div class="card p-3">
      <h4>Are you interested in supporting individuals with disabilities to reach their employment goals?</h4>
        <p><a href="https://caringforme.org/real-stories/#real-stories-search-form"> Watch these videos</a> to learn about various jobs in the field of employment services (select “direct support professional” in the search option).</p>
 
    </div>
    
  

     
    </div></div>
</div>

{% include 'events.njk' %}
