<hr>
<h2>Upcoming Events</h2>

<div class="row row-striped" id="acre">
	
	<div class="ps5">
		<h3 class="text-uppercase"><strong>In-Person Training: Fading Supports in the Workplace</strong></h3>
		
		<ul class="list-inline">
			<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Tuesday December 13, 2022</li>
			<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 9am-4pm</li>
			<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> University of Maine at Augusta</li><li class="list-inline-item"><i class="fa fa-usd" aria-hidden="true"></i>75
			</li>
		</ul>
		<p>
			Successfully fading and maximizing the use of natural supports helps individuals with disabilities succeed in employment. In this in-person training, we will cover:

			<ul>
				<li> Why are fading and natural supports important for people with disabilities?
				<li> What programs support fading and natural supports?
				<li> How can I identify and use natural supports at the jobsite?
				<li> When and how do I implement systematic instruction and task analysis?
				<li> How can I build the independence and confidence of the individual in the workplace?
			</ul>
		</p>
		<a href="https://www.eventbrite.com/e/fading-supports-in-the-workplace-tickets-441608662397" target="_new" class="btn btn-primary btn-sm">Learn More and Register</a>
	</div>
</div>
   