<hr>
<h2>Upcoming Events</h2>
<div class="row row-striped" id="acre">
	<div class="col-2 text-right">
		<h1 class="display-4"><span class="badge badge-secondary"></span></h1>
		<h2>OCT <br>NOV<br> DEC</h2>
	</div>
	<div class="col-10">
		<h3 class="text-uppercase"><strong>ACRE Basic Employment Certificate Training</strong></h3>
		
		<ul class="list-inline">
			<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Multiple Days</li>
			<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> times vary by day</li>
			<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Hybrid in-person/online</li><li class="list-inline-item"><i class="fa fa-usd" aria-hidden="true"></i>325
			</li>
		</ul>
		<strong>
		<ul><li>Latest techniques for job development & supports</li>
			<li>Increase your job placement and retention rates </li>
			<li>Earn the ACRE nationally recognized certificate</li>
		</ul>
	</strong>
	
<p><b><em>To earn an ACRE Certificate trainees must:</em></b>
<ol>
<li>Attend 4 in-person and 4 virtual training days</li>
<li>Complete the online Social Security course by November 30, 2022</li>
<li>Submit all required fieldwork by December 31, 2022</li>
</ol>
</p>
		<a href="https://www.eventbrite.com/e/acre-basic-employment-certificate-training-registration-424198447977" class="btn btn-primary btn-sm">Learn More and Register</a>
	</div>
</div>
    <div class="row row-striped">
			<div class="col-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">19</span></h1>
				<h2>OCT</h2>
			</div>
			<div class="col-10">
				<span class="blue"><strong>In Massachusetts</strong></span>
				<h3 class="text-uppercase"><strong>Employment Matters! Conference</strong></h3>
				<h4>Elevating Disability in the Equity, Diversity, and Inclusion Conversation</h4>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Wednesday</li>
					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 9:00 to 4:00 ET</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>  College of the Holy Cross in Worcester, MA</li><li class="list-inline-item"><i class="fa fa-usd" aria-hidden="true"></i>85
                    </li>
				</ul>
				
				<p>The Employment Matters! Elevating Disability in the Equity, Diversity, and Inclusion Conversation conference is coming up on Wednesday October 19th at the College of the Holy Cross in Worcester, from 9:00 to 4:00. This is a can't miss in-person event!</p>
                <a href="http://events.r20.constantcontact.com/register/event?oeidk=a07ejc5erssa7023619&llr=4gg76ejab" class="btn btn-primary btn-sm">Learn More and Register</a>
			</div>
		</div>
		
		