<p>The project is funded by the Department of Health and Human Services in collaboration with Maine's <a href="https://www.maine.gov/doe/home">Department of Education</a> (MDOE) and <a href="https://www.maine.gov/labor/">Department of Labor</a> (MDOL).</p>
<script>
    // Fetch all the details element.
const details = document.querySelectorAll("details");

// Add the onclick listeners.
details.forEach((targetDetail) => {
  targetDetail.addEventListener("click", () => {
    // Close all the details that are not targetDetail.
    details.forEach((detail) => {
      if (detail !== targetDetail) {
        detail.removeAttribute("open");
      }
    });
  });
});</script>