<div class="row mt-3 py-3">
<div class="col-md-4  gx-5">

<h3>Contact</h3>


<address>Institute for Community Inclusion<br>
UMass Boston<br>
Boston, Massachusetts 02125<br>
Phone: (617) 287-4319<br>
Email: <a href="mailto:lara.enein@umb.edu" target="_blank">lara.enein@umb.edu</a><br>
&nbsp;</address>
</div>

<div class="col-md-4  gx-5">

<h3>Links</h3>


<ul>
	<li><a href="/" title="Home">Home</a></li>
	<li><a href="/about" title="About">About</a></li>
	<li><a href="/certification" title="Certification">Certification</a></li>
  	<li><a href="/certificate-registry" title="Certificate Registry">Certificate Registry</a></li>
    	<li><a href="/staff" title="Staff">Staff</a></li>
</ul>
</div>

<div class="col-md-4  gx-5">

<h3>Social & E-News</h3>

<p><a class="d-inline-block" href="https://www.facebook.com/MaineWorkingTogether" target="_blank" title="Facebook.com/thinkcollege"><i class="fa fa-facebook-square fa-3x social" data-original-title="Facebook" data-placement="top" data-toggle="tooltip" id="social-fb">&nbsp;</i> <span class="visually-hidden-focusable">Facebook</span></a> <a class="d-inline-block" href="mailto:lara.enein@umb.edu" target="_blank" title="Email Maine Working Together"><i class="fa fa-envelope fa-3x social" data-original-title="Contact" data-placement="top" data-toggle="tooltip" id="social-em">&nbsp;</i> <span class="visually-hidden-focusable">Email Think College</span></a></p>

<p>To learn about upcoming trainings and other events sign up for our <a href="https://lp.constantcontactpages.com/su/qwUwBBs/mainetraining" target="_blank">E-Newsletter</a>!</p>
</div>
</div>
<div class="subfooter">
<p>The project is funded by the Department of Health and Human Services in collaboration with Maine's <a href="https://www.maine.gov/doe/home">Department of Education</a> (MDOE) and <a href="https://www.maine.gov/labor/">Department of Labor</a> (MDOL).</p>

</div>

 
<script>
    // Fetch all the details element.
const details = document.querySelectorAll("details");

// Add the onclick listeners.
details.forEach((targetDetail) => {
  targetDetail.addEventListener("click", () => {
    // Close all the details that are not targetDetail.
    details.forEach((detail) => {
      if (detail !== targetDetail) {
        detail.removeAttribute("open");
      }
    });
  });
});</script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>