<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand d-lg-none" href="/">MaineWorkingTogether</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <i class="fa fa-bars" aria-hidden="true"></i></button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/about/">About</a>
            <a class="nav-link" href="/certification/">Certification</a>
          <a class="nav-link" href="/certificate-registry">Certificate Registry </a>
                      <a class="nav-link" href="/staff/">Staff</a>
          <!--<a class="nav-link" href="#">Trainings</a>
          <a class="nav-link" href="#">Resources</a>-->
        </div>
      </div>
    </div>
  </nav>
  <header class="row">
  
    <div class="col-sm-3"><img src="/img/maine_employment_logo_lone_pine.png" alt="lone pine logo"></div>
    <div class="col-sm-9 my-auto"><a href="/" title="links to home page"><span class="h1 top_row">Maine Working Together</span><br>
    <span class="h2 bottom_row">Workforce Development System</span></a>
    </div>
  </header>
