<hr>
<h2>Lunch and Learn Webinar Series</h2>
<br><br>
<p ><strong>Bring Your Lunch and Join Us for Informative Presentations and Discussions on Best Practices in Employment Services</strong></p>



<div class="row row-striped">
	
	<div class="ps5">
		<h3 class="text-uppercase"><strong>Cultural Humility to Improve Quality of Services for Individuals with Disabilities</strong></h3>
		
		<ul class="list-inline">
			<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday, April 13, 2023</li>
			<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12-1pm</li>
			<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Online</li><li class="list-inline-item"><i class="fa fa-usd" aria-hidden="true"></i>25
			</li>
		</ul>
		<p>
			Cultural priorities and distinctions can influence the way people work together and perceive others. It is critical for human services professionals to be aware of how culture can impact their work as well as understand how to incorporate best practices around cultural humility. This module will explore a variety of cultures and considerations, including the cultures of family, ethnicity, race, gender, geographical, and disability. This webinar will also discuss how the intersectionality of disability and other cultures is an important factor in establishing informed choice and family engagement for individuals with disabilities. This webinar is appropriate for anyone providing any type of service for individuals with disabilities, including employment and day services, counseling, and transition from school to work and/or residential services. <em>Earn 1 hour of professional development</em>.
		</p>
		
		<a href="https://www.eventbrite.com/e/webinar-cultural-humility-to-improve-services-tickets-558235476337" target="_new" class="btn btn-primary btn-sm">Learn More and Register</a>
	</div>
</div>

