<hr>
<h2>Lunch and Learn Webinar Series</h2>
<br><br>
<p style="color:#5F9632;"><strong>Bring Your Lunch and Join Us for Informative Presentations and Discussions on Best Practices in Employment Services</strong></p>

<div class="row row-striped">
	
	<div class="ps5">
		<h3 class="text-uppercase"><strong>Best Practices in Job Coaching and Supports</strong></h3>
		
		<ul class="list-inline">
			<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Wednesday January 18, 2023</li>
			<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12-1pm</li>
			<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Online (Zoom)</li><li class="list-inline-item"><i class="fa fa-usd" aria-hidden="true"></i>25
			</li>
		</ul>
		<p>
			It is imperative that job seekers receive individualized, effective supports as they start a new job. This webinar will focus on the best practices in supporting individuals who are working. Participants will learn about job training and support strategies. Topics include the role of the job coach, natural supports and social inclusion, systematic instruction basics, and maintenance and fading strategies.
		</p>
		<p><strong>Presenters</strong>: Lara Enein and Kelly Wanzer, Institute for Community Inclusion, University of Massachusetts, Boston</p>
		<a href="https://www.eventbrite.com/e/best-practices-in-job-coaching-and-supports-webinar-tickets-465450975397" target="_new" class="btn btn-primary btn-sm">Learn More and Register</a>
	</div>
</div>
<div class="row row-striped">
	
	<div class="ps5">
		<h3 class="text-uppercase"><strong>Strategies for Developing Job Opportunities in Maine's Rural and Remote
			Communities</strong></h3>
		
		<ul class="list-inline">
			<li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Thursday, February 16, 2023</li>
			<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12-1pm</li>
			<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Online</li><li class="list-inline-item"><i class="fa fa-usd" aria-hidden="true"></i>25
			</li>
		</ul>
		<p>
			Maine's rugged and rural landscapes are world-renowned for their pristine beauty, but the remoteness of these communities can create challenges in supporting individuals to find competitive integrated employment opportunities aligned with strengths and interests. Rural-specific barriers like transportation, sparse businesses, and a lack of service providers can create significant challenges. This session will provide participants with effective strategies to address these barriers specific to rural communities. Participants will learn how to boost rural job development by using advances in technology, creative approaches to job matching, and underused self-employment strategies.
		</p>
		<p><strong>Presenters</strong>: Josh Taylor (UMaine), Janet May (UMaine- Center for Community Inclusion and Disability Studies), and Gina Oswald (Cornell University)</p>
		<a href="https://www.eventbrite.com/e/developing-job-opportunities-in-maines-rural-and-remote-communities-tickets-465460343417" target="_new" class="btn btn-primary btn-sm">Learn More and Register</a>
	</div>
</div>

