---
layout: layouts/resource.njk
title: Career Planning & Exploration
templateClass: tmpl-post
---
<div class="sources container">
    
<article>
    <h2><a href="https://destinationoccupation.com/me-career-exploration-videos/">Destination Occupation</a></h2>
    <p>Destination Occupation offers an online community of career exploration videos sponsored by local employers using storytelling to educate people about career paths that may be a good fit for them.</p>
</article>
<article>
    <h2><a href="http://dimagine.com/seven-questions/">Imagine</a></h2>
    <p>Imagine offers resources such as the Discovery Workbook and Seven Questions to Guide the Development of a Support Plan authored by David Pitonyak. Additional resources offered by Imagine further support individuals to live full, meaningful, and more connected lives.</p>
</article>
<article>
    <h2><a href="http://dimagine.com/seven-questions/">Person Centered Employment Planning Guide</a></h2>
    <p>Person Centered Employment Planning Guide, developed by the South Dakota Department of Human Services' Division of Developmental Disabilities, is a six-page guide. It includes sample questions, suggested discovery tools, guidance based on participant responses, and associated employment action plan considerations to assist case managers, job development staff, and others. The guide is meant to help prepare for discussions with individuals, families, and support teams to choose and implement supports that will lead to a path to employment.</p>
</article>
<article>
    <h2><a href="https://dhs.sd.gov/developmentaldisabilities/docs/SD Person Centered Employment Guide.pdf">Customized Employment: Applying Practical Solutions for Employment Success</a></h2>
    <p>Customized Employment: Applying Practical Solutions for Employment Success, from the Office of Disability Employment Policy's (ODEP) Customized Employment initiative, explores topics such as customized employment, job seeker exploration, job development, and negotiating with employers.</p>
</article>
<article>
    <h2><a href="https://ecommons.cornell.edu/bitstream/handle/1813/76653/Vol1_Customized_Employment_Applying_Practical_Solutions_for_.pdf?sequence=1&isAllowed=y">I Want to Work Workbook and companion Partner Guide</a></h2>
    <p>I Want to Work Workbook and companion Partner Guide, developed by Virginia Commonwealth University, is designed to help people with intellectual disabilities gather information they can use to obtain employment. It is grounded in person-centered principles so all of the information gathered will be unique to the person</p>
</article>
<article>
    <h2><a href="https://thinkcollege.net/sites/default/files/files/resources/GG6_R.pdf">Customized Employment — Discovery</a></h2>
    <p>Customized Employment — Discovery</p>
</article>
<article>
    <h2><a href="https://www.communityinclusion.org/static/TO31_F_R-cb9cdee10d0ebbbb4f865c282f412273.pdf">A Guide to Ensuring Informed Choice for Individuals with Disabilities</a></h2>
    <p>A Guide to Ensuring Informed Choice for Individuals with Disabilities</p>
</article>
</div>