---
layout: layouts/resource.njk
title: Financial Planning & Benefits
templateClass: tmpl-post
---
<div class="sources container">

<article>
    <h2><a href="https://www.mainehealth.org/Maine-Medical-Center/Services/Vocational-Services/Benefits-Counseling">Benefits Counseling Services</a></h2>
    <p>Benefits Counseling Services at Maine Medical Center are offered via Community Work Incentives Coordinators (CWICs). CWICs help people in Maine understand how working affects their Social Security disability and other public benefits.</p>
</article>
<article>
    <h2><a href="https://www.maine.gov/doe/learning/content/socialstudies/resources/financialliteracy">Financial literacy resources</a></h2>
    <p>Financial literacy resources are provided by the Maine Department of Education (MDOE).</p>
</article>
<article>
    <h2><a href="https://www.bangor.com/able-home">ABLE ME</a></h2>
    <p>ABLE ME offers tax-advantaged accounts, called ABLE Accounts, for individuals with disabilities and their families. ABLE ME is established and maintained by the Maine State Treasurer and administered by Bangor Savings Bank under applicable law.</p>
</article>
<article>
    <h2><a href="https://www.mhesevents.org/event/e15a9475-5ccb-4eaf-95cf-e520278d9f4b/summary">Work and Benefits Navigator Training</a></h2>
    <p>Work and Benefits Navigator Training, from Maine Medical Center's Department of Vocational Services and Maine Department of Health and Human Services, equips case managers, community integration workers, DSPs, residential staff, and others with information, skills, and resources they need to challenge myths about work and benefits and encourage employment.</p>
</article>
<article>
    <h2><a href="https://vcu-ntdc.org/index.cfm">National Training and Data Center (NTDC)</a></h2>
    <p>NTDC, from Virginia Commonwealth University, conducts training, certification, technical assistance, and professional development activities that support professional work incentive counselors across the country serving Social Security beneficiaries with disabilities.</p>
</article>
<article>
    <h2><a href="https://www.dol.gov/agencies/ebsa/secure-your-financial-future#goals">Secure Your Financial Future: A Toolkit for Individuals with Disabilities</a></h2>
    <p>Secure Your Financial Future: A Toolkit for Individuals with Disabilities, from the US Department of Labor, aims to provide clear and accurate information to help provide a path forward for individuals at various points in their employment journey.</p>
</article>
<article>
    <h2><a href="https://www.maine.gov/rehab/ticket/index.html">Ticket to Work</a></h2>
    <p>Ticket to Work is a program from the Social Security Administration designed for people, ages 18-64, who receive benefits from Social Security Disability Insurance (SSDI) and/or Supplemental Security Income (SSI) and want to work, with the goal of someday supporting themselves.</p>
</article>
<article>
    <h2><a href="http://www.socialsecurity.gov/work/WIPA.html">Work Incentives Planning and Assistance</a></h2>
    <p>Work Incentives Planning and Assistance, from the Social Security Administration, provides beneficiaries with disabilities with information to make a successful transition to work.</p>
</article>

<article>
    <h2><a href="https://www.ssa.gov/redbook/index.html">The Red Book</a></h2>
    <p>The Red Book from the Social Security Administration is also titled the “Summary Guide to Employment Supports for Persons with Disabilities Under the Social Security Disability Insurance (SSDI) and Supplemental Security Income (SSI) Programs.”</p>
</article>

<article>
    <h2><a href="https://choosework.ssa.gov/Assets/cw/docs-materials/SSA_3_Biggest_Myths_Flyer-Final-2.pdf">Debunking the Three BIGGEST Myths about Disability Benefits and Work</a></h2>
    <p>Debunking the Three BIGGEST Myths about Disability Benefits and Work</p>
</article>
<article>
    <h2><a href="https://www.thinkwork.org/basics-social-security-disability-benefits">Think Work Brief: The Basics of Social Security Disability Benefits</a></h2>
    <p>Think Work Brief: The Basics of Social Security Disability Benefits</p>
</article>
<article>
    <h2><a href="https://files.consumerfinance.gov/f/documents/cfpb_ymyg_focus-on-people-with-disabilities.pdf">Your Money, Your Goals: Focus on People with Disabilities</a></h2>
    <p>Your Money, Your Goals: Focus on People with Disabilities</p>
</article>

</div>
