---
layout: layouts/resource.njk
title: Resources
templateClass: tmpl-post
---

<ul class="h2">
    <li><a  href="/resources/self">Self-Determination/Self-Advocacy </a></li>
    <li><a  href="/resources/career">Career Planning & Exploration</a></li>
    <li><a  href="/resources/placement">Placement and Supports</a></li>
    <li><a  href="/resources/partnerships">Partnerships and State Resources</a></li>
    <li><a  href="/resources/transition">Transition to Work</a></li>
    <li><a  href="/resources/financial">Financial Planning & Benefits</a></li>
  </ul>