---
layout: layouts/resource.njk
title: Partnerships & State Resources
templateClass: tmpl-post
---
<div class="sources container">
<article>
    <h2><a href="https://www.maine.gov/rehab/dvr/">Maine Division of Vocational Rehabilitation</a></h2>
    <p>Maine Division of Vocational Rehabilitation, also known as "VR," is a Department of Labor program that helps people who have disabilities obtain and keep a job. VR helps people who have physical, mental, or emotional disabilities.</p>
</article>
<article>
    <h2><a href="https://www.maine.gov/dhhs/oads">The Office of Aging and Disability Services (OADS)</a></h2>
    <p>OADS supports Maine's older and disabled adults by providing services for adult protection, brain injury and related conditions, intellectual and developmental disability, long-term care, and aging to the people of Maine.</p>
</article>
<article>
    <h2><a href="https://www.maineddc.org/">Maine Developmental Disabilities Council</a></h2>
    <p>Maine Developmental Disabilities Council is a partnership of people with developmental disabilities, family members, and agencies that identifies barriers to community inclusion, self-determination, and independence.</p>
</article>
<article>
    <h2><a href="https://www.maine.gov/dhhs/obh/support-services/employment-services">Office of Behavioral Health</a></h2>
    <p>Office of Behavioral Health offers employment services, supports, and resources for consumers impacted by mental health and recovery needs.</p>
</article>
<article>
    <h2><a href="https://mainecite.org/">Maine CITE Program</a></h2>
    <p>Maine CITE Program is designed to help make assistive technology more available to Maine children, adults, and seniors who need them.</p>
</article>
<article>
    <h2><a href="https://caringforme.org/">Caring for Maine</a> </h2>
    <p>Caring for Maine offers resources, job postings, and training for people looking to enter the direct support and behavioral health workforce.</p>
</article>
<article>
    <h2><a href="https://maineapse.weebly.com/">Maine Association of People Supporting Employment First (APSE)</a></h2>
    <p>Maine APSE is an extension of the national APSE, the only national organization with an exclusive focus on integrated employment and career advancement opportunities for individuals with disabilities.</p>
</article>
<article>
    <h2><a href="https://ccids.umaine.edu/">The Center for Community Inclusion and Disability Studies (CCIDS)</a></h2>
    <p>CCIDS is Maine's University Center for Excellence in Developmental Disabilities. CCIDS offers interdisciplinary undergraduate and graduate study; conducts research, evaluation, and policy analysis; provides community services, including professional development, training, consultation, and technical assistance; and disseminates relevant, current information related to their work to individuals with disabilities, families, professionals, and the community-at-large.</p>
</article> 
<article>
    <h2><a href="https://drme.org/">Disability Rights Maine (DRM)</a></h2>
    <p>DRM is Maine's Protection and Advocacy organization, whose mission is to ensure autonomy, inclusion, equality, and access for people with disabilities in Maine.</p>
</article> 
<article>
    <h2><a href="https://www.sufumaine.org/">Speaking Up For Us (SUFU)</a></h2>
    <p>SUFU is run by and for adults who live with developmental disabilities. SUFU demonstrates how they can have more control of their lives and use their voices to speak up for issues that are important all people with disabilities.</p>
</article>
<article>
    <h2><a href="https://www.asmonline.org/">Autism Society of Maine</a></h2>
    <p>Autism Society of Maine aims to empower everyone in the autism community with the resources to live fully.</p>
</article>
<article>
    <h2><a href="https://www.mpf.org/">Maine Parent Federation</a></h2>
    <p>Maine Parent Federation educates, empowers, and supports Maine's families, children, and youth — especially those with disabilities, special healthcare needs, or other challenges — from birth to 26 years old, as well as the professionals who serve them, in order to ensure effective services and successful outcomes.</p>
</article>
<article>
    <h2><a href="https://ipsworks.org/">The IPS Employment Center</a></h2>
    <p>The IPS Employment Center provides resources, training, and educational materials for a model of supported employment designed for people with serious mental illness, called Individual Placement and Support (IPS).</p>
</article>
<article>
    <h2><a href="https://www.maine.gov/rehab/dvr/independent_living.shtml">Independent Living Services (ILS)</a></h2>
    <p>ILS assists people who have significant disabilities to live more independently in their homes and communities. The program provides and arranges needed independent living services subject to the availability of funds and is also an advocacy program for people with disabilities and their families.</p>
</article>
<article>
    <h2><a href="https://www.maine.gov/dhhs/oms/member-resources/transportation">Office of MaineCare Services Non-Emergency Transportation</a></h2>
    <p>Office of MaineCare Services Non-Emergency Transportation covers non-emergency transportation (NET) for eligible members. View their resources to learn more about eligibility.</p>
</article>
<article>
    <h2><a href="https://www.nadtc.org/">National Aging and Disability Transportation Center (NADTC)</a></h2>
    <p>NADTC promotes the availability and accessibility of transportation options that meet the needs of older adults, people with disabilities, and caregivers.</p>
</article>
</div>