---
layout: layouts/resource.njk
title: Placement & Supports
templateClass: tmpl-post
---
<div class="sources container">
<article>
    <h2><a href="https://mainecite.org/"> Maine CITE Program</h2>
    <p>Maine CITE Program is designed to help make assistive technology more available to Maine children, adults, and seniors who need them.</p>
</article>
<article>
    <h2><a href="https://at3center.net/">National Assistive Technology Act Technical Assistance and Training (AT3) Center</a></h2>
    <p>The AT3 Center aims to increase access to and acquisition of assistive technologies by individuals with disabilities across the lifespan.</p>
</article> 
<article>
    <h2><a href="https://askjan.org/index.cfm">Job Accommodation Network (JAN)</a></h2>
    <p>JAN provides listings of accommodations by disability, topic, and limitation. This information is designed to help employers and individuals determine effective accommodations and comply with Title I of the Americans with Disabilities Act (ADA).</p>
</article>
<article>
    <h2><a href="https://www.careeronestop.org/default.aspx">CareerOneStop</a></h2>
    <p>CareerOneStop is a career, training, and job search website from the U.S. Department of Labor. The website serves job seekers, businesses, students, and career advisors with a variety of free online tools, information, and resources.</p>
</article>
<article>
    <h2><a href="https://www.thinkwork.org/sites/thinkwork.org/files/files/Job Creation Brief(1).pdf">When Existing Jobs Don't Fit: A Guide to Job Creation</a></h2>
    <p>When Existing Jobs Don't Fit: A Guide to Job Creation</p>
</article>
<article>
    <h2><a href="https://employmentfirstma.org/files/DDSVolunteer-Unpaid_Work-Feb17.pdf">Volunteering, Internships, and Unpaid Work Experiences: Legal and Practical Guidelines</a></h2>
    <p>Volunteering, Internships, and Unpaid Work Experiences: Legal and Practical Guidelines</p>
</article>
<article>
    <h2><a href="https://thinkcollege.net/sites/default/files/files/resources/GG8_R.pdf">Customized Employment — Employer Research</a></h2>
    <p>Customized Employment — Employer Research</p>
</article>
<article>
<h2><a href="https://scholarworks.umb.edu/cgi/viewcontent.cgi?referer=&httpsredir=1&article=1007&context=ici_institutebrief#:~:text=What%20Is%20It%3F,days%20the%20plan%20is%20updated">The 30-Day Placement Plan: A Road Map to Employment</a></h2>
<p>The 30-Day Placement Plan: A Road Map to Employment (ICI INSTITUTE BRIEF)</p>
</article>

</div>