---
layout: layouts/resource.njk
title: Self-Determination/Self-Advocacy 
templateClass: tmpl-post
---
<div class="sources container">
<article>
    <h2><a href="https://drme.org/"> Rights Maine (DRM)</a></h2>
    <p>DRM is Maine's Protection and Advocacy organization, whose mission is to ensure autonomy, inclusion, equality, and access for people with disabilities in Maine.</p>
</article>

<article>
    <h2><a href="https://www.sufumaine.org/">Speaking Up For Us (SUFU)</a></h2>
    <p>SUFU is run by and for adults who live with developmental disabilities. SUFU demonstrates how they can have more control of their lives and use their voices to speak up for issues that are important all people with disabilities.</p>
</article>

<article>
    <h2><a href="https://www.selfadvocacyinfo.org/">Self Advocacy Resource and Technical Assistance Center (SARTAC)</a></h2>
    <p>SARTAC, a Project of National Significance funded by the Administration on Intellectual and Developmental Disabilities, aims to strengthen the self-advocacy movement by supporting self-advocacy organizations to grow in diversity and leadership.</p>
</article>

<article>
    <h2><a href="https://www.imdetermined.org/">I'm Determined</a></h2>
    <p>I'm Determined, a state-directed project funded by the Virginia Department of Education, focuses on providing direct instruction, models, and opportunities to practice skills associated with self-determined behavior to youth, young adults, educators, and families.</p>
</article>

<article>
    <h2><a href="https://worksupport.com/documents/disclosure_decisions1.pdf">Disclosure Decisions to Get the Job</a></h2>
    <p>Disclosure Decisions to Get the Job is a tool that helps individuals determine if there is a need to disclose their disability to an employer, as well as when and how to disclose, if needed.</p>
</article>
</div>