---
layout: layouts/resource.njk
title: Transition to Work
templateClass: tmpl-post
---
<div class="sources container">

<article>
    <h2><a href="https://www.maine.gov/dhhs/sites/maine.gov.dhhs/files/documents/ocfs/cbhs/documents/Youth Transition Booklet 2019.pdf">High School and Beyond: A Guide to Transition Services in Maine</a></h2>
    <p>High School and Beyond: A Guide to Transition Services in Maine is a resource guide to help understand why transition is important and what services are available in Maine.</p>
</article>
<article>
    <h2><a href="https://umaine.edu/maier/trainings-2/transition-to-adulthood/">Transition to Adulthood Training Module</a></h2>
    <p>Transition to Adulthood Training Module, from the Maine Access to Inclusive Education Resources at UMaine, is an interactive multimedia module providing an overview of key issues in the transition from school to adulthood.</p>
</article>
<article>
    <h2><a href="https://maineapse.weebly.com/">Maine Association of People Supporting Employment First (APSE)</a></h2>  
    <p>Maine Association of People Supporting Employment First (APSE) is an organization focused on promoting competitive integrated employment.</p>
</article> 
<article>
    <h2><a href="https://www.jmg.org/maine-career-exploration-badge">Jobs for Maine Graduates' Career Exploration Badge</a></h2>
    <p>Jobs for Maine Graduates' Career Exploration Badge for Maine high school juniors and seniors is an opportunity to participate in 40 hours of meaningful work experiences facilitated through an intentionally designed exploration and reflection process.</p>
</article>
<article>
    <h2><a href="https://transitionta.org/">National Technical Assistance Center on Transition: The Collaborative (NTACT:C)</a></h2>
    <p>NTACT:C provides information, tools, and supports to assist multiple stakeholders in delivering effective services and instruction for secondary students and out-of-school youth with disabilities.</p>
</article>
<article>
    <h2><a href="https://centerontransition.org/">Center on Transition Innovations (CTI)</a></h2>   
    <p>CTI at Virginia Commonwealth University provides information, resources, demonstration, and research on pathways to employment that support youth with disabilities to gain access to integrated competitive employment to the fullest extent possible.</p>
</article>
<article>
    <h2><a href="https://thinkcollege.net/">Think College</a></h2>
    <p>Think College provides resources, technical assistance, and training related to college options for students with intellectual disabilities.</p>
</article>

<article>
    <h2><a href="https://www.ou.edu/education/centers-and-partnerships/zarrow">Zarrow Institute on Transition and Self-Determination</a></h2>
    <p>Zarrow Institute on Transition and Self-Determination implements innovative research, puts findings into practice, and disseminates knowledge through high-quality products and professional development.</p>
</article>
