---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<section id="Events">
    <h1>Training Events</h1>
   
        {%- for event in collections.event  -%}
        <div class="row row-striped">
            <div class="ps5">
        <details>
            <summary>
            {{ event.data.title }} {% if event.data.mwt === true %}<span class="mwt"><img src="/img/maine_employment_logo_lone_pine.png" alt="lone pine logo"></span>{% endif %} <br>
            <ul>
                <li class="lil_summary list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ event.data.dates }} </li>
                <li class="lil_summary list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.data.time }} </li>
            <li class="lil_summary list-inline-item"><i class="fa fa-usd" aria-hidden="true"></i> {{ event.data.cost }} </li>
            <li class="lil_summary list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ event.data.location }} </li>
            
            
            <ul>
            </summary>
            {{ event.templateContent | safe }}
            <a class="btn btn-primary" title="Register for {{ event.data.title}}" href="{{ event.data.registration_link}}" role="link">Register and Learn More</a>
            
        </details>
    </div>
    </div>
            {%- endfor -%}  
    