---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<section id="Events">
    <h1>Training Events</h1>
   
        {%- for event in collections.event -%}
        <div class="row row-striped">
            <div class="ps5">
        <details>
            <summary>
            {{ event.data.title }} <br>
            <ul>
                <li class="lil_summary list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{ event.data.dates }} </li>
                <li class="lil_summary list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.data.time }} </li>
            <li class="lil_summary list-inline-item"><i class="fa fa-usd" aria-hidden="true"></i> {{ event.data.cost }} </li>
            <li class="lil_summary list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ event.data.location }} </li>
            
            
            <ul>
            </summary>
            {{ event.templateContent | safe }}
            {{ event.data.registration_link}}
        </details>
    </div>
    </div>
            {%- endfor -%}  
    