<!doctype html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    <div class="container">
    <header>
     {% include 'header.html' %}
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

    

      {{ content | safe }}
    </main>

    <footer>{% include 'footer.html' %}</footer>

    <!-- Current page: {{ page.url | url }} -->
  </div> <!--end container div--></body>
</html>
