<!doctype html>
<html lang="en">
  {% include 'head.html' %}
  <body>
 <a class="visually-hidden-focusable" href="#content">Skip to main content</a>

    <!-- Google Tag Manager (noscript) -->
 <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CTKN9N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
<!-- End Google Tag Manager (noscript) -->
    <div class="container">
      <div class="content mx-lg-5">
    <header>
     {% include 'header.html' %}
    </header>

    <main{% if templateClass %} id="content" class="{{ templateClass }}"{% endif %}>

            {% block content %}{% endblock %}

      {{ content | safe }}
    </main>
  </div>
  </div>
    <footer class="bg-light">
      	<div class="container">
          {% include 'footer.html' %}
          </div>
          </footer>

    <!-- Current page: {{ page.url | url }} -->
 </body>
</html>
