<!doctype html>
<html lang="en">
  {% include 'head.html' %}
  <body>
    <!-- Google Tag Manager (noscript) -->
 <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5CTKN9N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
<!-- End Google Tag Manager (noscript) -->
    <div class="container">
      <div class="content mx-lg-5">
    <header>
     {% include 'header.html' %}
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>

            {% block content %}{% endblock %}

      {{ content | safe }}
    </main>
  </div>
  </div>
    <footer class="bg-light">
      	<div class="container">
          {% include 'footer.html' %}
          </div>
          </footer>

    <!-- Current page: {{ page.url | url }} -->
 <!--end container div-->
 <!-- Begin Constant Contact Active Forms -->
<script> var _ctct_m = "b49f2c8400ca9ddcee2ba421b594264d"; </script>
<script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
<!-- End Constant Contact Active Forms -->
 </body>
</html>
