---
layout: layouts/base.njk
templateClass: tmpl-home
---

<h1 class="pt-0 mt-0"><span class="h6"> / <a href="/">Home</a> / <a href="/resources/"> Resources</a> for:</span><br>
    {{ title }}</h1>

{{ content | safe }}
